.font {
    font-family: 'Roboto', sans-serif;
}
*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
*:active,*:focus{
  outline:none
}
a {
    outline: none;
    text-decoration: none;
}
body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #FFFFFF
}
.wrap {
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 20px
}

.container {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.range {
  display: flex;
  flex-direction: column;
  width: 950px;
}

.range__slider {
  width: 45%;
}

.range__value {
  width: 35%;
  margin-left: 45px;    
  text-align: center;
  border-left: #e6e4e4 1px solid;
}

.price {
  padding-bottom: 85px;
}
.container h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;

  color: #37A89A;
}
.form-group {
  width: 100%;
}
.form-group p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 36px;
}
.input-value {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 0px 16px 26px;
  margin-bottom: 15px;
}



.input-polz {
  /* border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px; */
  cursor: pointer;
}
.price-sobst {
  margin-top: 71px;
  margin-bottom: 58px;
}
.price-sobst p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  margin-bottom: 36px;
}
.price-sobst__radio {
  display: flex;
  align-items: center;
}
.price-sobst__radio-block {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.price-sobst__radio-block:nth-child(2){
  margin-right: 0;
}
.price-sobst__radio-block p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
  color: #000000;
  margin-left: 10px;
}
price-sobst__radio-block input {
  cursor: pointer;
}
.price-credit {
  margin-bottom: 75px;
}
.price-credit p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-bottom: 36px;

}
.price-credit__radio {
  display: flex;
}
.price-credit__radio-block {
  display: flex;
  align-items: center;
  margin-right: 30px;

}
.price-credit__radio-block:nth-child(2){
  margin-right: 0;
}
.price-credit__radio-block p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
  margin-left: 10px;

  color: #000000;
}
.price-form {
}
.price-form p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  margin-bottom: 20px;
  
}
.price-form input {
  margin-bottom: 35px;
  border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
width: 100%;
color: #000000;
padding: 16px 0px 16px 22px;
}
.price-form input::placeholder {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #B9B9B9;
}
.input-send-price {
  width: 340px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
cursor: pointer;
color: #F8F8F8;
background: #37A89A;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 18px 50px;
border: none;
}



.form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.policy-price {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #575757;
  margin-top: 23px;
}
.policy-price a {
  text-decoration-line: underline;
  color: #37A89A;
}

.header {
  background: linear-gradient(0deg, #E4E4E4, #E4E4E4), #E3E3E3;
  padding-bottom: 20px;
position: fixed;
width: 100%;
z-index: 10;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  margin-right: 20px;
}
.header-logo-name {
  margin-right: 20px;
}
.header-logo-name p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  max-width: 182px;
}
.header-logo-adress {
  display: flex;
  align-items: center;
}
.logo-adress-column {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.logo-adress-column span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.logo-adress-column p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-right: 34px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.header-nav a:last-child{
  margin-right: 0px;
}
.header-dop {
  display: flex;
  align-items: center;
}
.header-dop-contact {
  display: flex;
  align-items: center;
  margin-right: 41px;
}
.header-dop-contact img {
  margin-right: 17px;
}
.dop-contact-column {
  text-align: right;
}
.dop-contact-column a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  outline: none;
  text-decoration: none;
}
.dop-contact-column p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  color: #000000;
}
.header-dop-btn {
}
.header-dop-btn a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;  
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  background: #37A89A;
border-radius: 8px;
padding: 19px 14px 20px 14px;
cursor: pointer;
}


.promo {
  /* position: relative; */
  /* background: linear-gradient(0deg, #E4E4E4, #E4E4E4), #E3E3E3; */
  /* height: 77vh; */
  background-image: url(/images/promo-img.jpg);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
  padding-top: 50px;

}
/* .promo img {
  position: absolute;
  width: 100%;
  top: 3px;
  height: 100%;

} */
.promo-content {
  padding-top: 72px;
}
.promo-content h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: #000000;
  margin-bottom: 49px;
  max-width: 738px;
}
.promo-content-form {
  width: 642px;
  /* height: 476px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  filter: drop-shadow(-2px 8px 10px rgba(90, 90, 90, 0.25));
  padding: 39px 46px 42px 45px;

}
.promo-content-form h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
  color: #000000;
  max-width: 551px;
  margin-bottom: 25px;
}
.promo-content-form p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  margin-bottom: 25px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text {
  padding: 26px 0px 26px 22px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  width: 481px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 22px;
}
.input-send {
  width: 481px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: #37A89A;
border-radius: 8px;
  color: #FFFFFF;
  padding: 26px 25px;
  cursor: pointer;
}
.form input ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #A0A0A0;
}
.form-check {
  display: flex;
  align-items: center;
  margin-top: 29px;
}
.form-check input {
  margin-right: 12px;
  cursor: pointer;
}
.form-check p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height */
margin-bottom: 0;
text-align: center;

color: #000000;
}
.form-check p a {
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
  
  color: #000000;
}
.form-check p a:hover {
  text-decoration: underline;
}



.key {
  background-image: url(/images/time-img.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.key-comfort {
  padding-top: 109px;
}
.key-comfort h2 {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.key-container {
  margin-top: 36px;
  display: flex;
  align-items: center;
}
.comfort-item {
  background: #37A89A;
  /* width: 468px; */
  margin-right: 23px;
}
.comfort-wrap {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 40px 31px 0px 23px;
  height: 404px;

}
.comfort-item__title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.comfort-item__title img {
  margin-right: 31px;
  width: 84px;
  height: 84px;
}
.comfort-item__title span {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;

color: #000000;
}
.comfort-item__text {
}
.comfort-item__text p {
  max-width: 412px;
}
.key-job {
  margin-top: 109px;
  padding-bottom: 188px;
}
.key-job  h2 {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.job-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.job-item {
  margin-right: 46px;
  margin-top: 40px;
}
.job-item:nth-child(4){
  margin-right: 0;
}

.job-item:nth-child(5){
  margin-top: 67px;
}
.job-item:nth-child(6){
  margin-top: 96px;
}
.job-item:nth-child(7){
  margin-top: 96px;
}
.job-item:nth-child(8){
  margin-right: 0;
  margin-top: 68px;
}


.job-item-text {
  max-width: 273px;
}
.job-item p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
color: #37A89A;
}
.job-item-span {
  background: #37A89A;
  padding: 10px 19px 10px 14px;
  width: 310px;
}
.job-item-span span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;  
  color: #FFFFFF;
}
.key-info {
  background: #37A89A;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 26px 0px;
}
.key-info h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  color: #FFFFFF;
}
.key-info p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}

.consult {
  background: #f5f5f5;
}
.consult-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.consult-info {
  margin-right: 75px;
}
.consult-info h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #37A89A;
  margin-bottom: 20px;
}
.consult-info p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  max-width: 458px;
}
.consult-info p a {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #000000;

}
.line {
  width: 118px;
  height: 2px;
  background: #37A89A;
  margin-bottom: 38px;
}
.consult-info-btn {
  margin-top: 38px;
}
.consult-info-btn p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #F8F8F8;
  padding: 15px 37px;
  background: #37A89A;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 8px;
width: 246px;
cursor: pointer;
}
.consult-img {
}
.consult-img img {

}

.team {
  padding-top: 78px;
  padding-bottom: 100px;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
}
.team-container {
  display: flex;
  margin-top: 87px;
}
.team-item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.team-item:nth-child(1) span {
  margin-bottom: 88px;
}
.team-item:nth-child(2) span {
  margin-bottom: 86px;
}
.team-item:nth-child(3) span {
  margin-bottom: 60px;
}
.team-item img {
  margin-bottom: 25px;
  width: 326px;
}
.team-item h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
color: #000000;
margin-bottom: 7px;
}
.team-item span {
text-align: center;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #000000;
margin-bottom: 33px;
}
.team-item li {
text-align: left;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
color: #000000;
margin-bottom: 7px;
}

.dolg {
  padding-bottom: 128px;
}
.dolg-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.dolg-content {
  margin-top: 67px;
  display: flex;
  justify-content: center;
}
.dolg-block {
  display: flex;
  flex-direction: column;
}
.dolg-block-one {
  display: flex;
  margin-bottom: 33px;
}
.dolg-block-one-elem1 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-one-elem1 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 162px;
height: 96px;
padding: 23px 33px;
}
.dolg-block-one-elem2 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-one-elem2 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  width: 518px ;
  height: 96px;
  padding-top: 25px;

}
.dolg-block-two {
  display: flex;

}
.dolg-block-two-elem1 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-two-elem1 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 162px;
height: 96px;
padding: 23px 33px;

}
.dolg-block-two-elem2 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-two-elem2 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 518px ;
height: 96px;
padding-top: 25px;

}


.primer {
  padding-bottom: 100px;
}
.primer-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.primer-content {
  margin-top: 78px;
  display: flex;
  justify-content: space-around;
}
.primer-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: #FAFAFA;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px 19px 24px 19px;
}
.primer-item a {

}
.primer-item a img {

}

.primer-item-text {
  margin-top: 33px;
  padding-left: 57px;
}
.primer-item-text span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  
}
.primer-item-text p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.primer-item-do {
  margin-top: 17px;
  padding-left: 57px;

}
.primer-item-do p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.primer-item-dolg {
  margin-top: 13px;
  padding-left: 57px;

}
.primer-item-dolg p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.primer-item-sud {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.primer-item-sud p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #37A89A;
  margin-right: 5px;

}
.primer-item-sud img {

}

.unknow {
  padding-top: 85px;
  padding-bottom: 84px;
}
.unknow-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.unknow-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
  width: 100%;
  justify-content: space-around;
}
.unknow-item {
  background: #FFFFFF;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 649px;
  height: 163px;
  padding: 29px 66px 21px 34px;
  margin-bottom: 280px;
  cursor: pointer;
  position: relative;
}
.unknow-item img {
  margin-right: 15px;
}
.unknow-item-block {
  display: flex;
  flex-direction: column;
}
.unknow-item-block p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #37A89A;
margin-bottom: 8px;
}
.unknow-link {
  outline: none;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.unknow-link p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #37A89A;
margin-bottom: 0;
margin-right: 5px;
}
.line2 {
  background: #DFDFDF;
  width: 427px;
  height: 1px;
  margin-bottom: 19px;
}
.unknow-drop {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 18px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 34px 39px 34px 39px;
  z-index: -100;
  width: 617px;
  opacity: 0;
  transition: 0.4s;

}
.unknow-drop__active{
  opacity: 1;
  top: 150px;
  transition: 0.4s;
  
}
.unknow-drop__active .unknow-link img {
  transform: rotate(45deg);
}
.unknow-drop-elem {
  display: flex;
  margin-bottom: 11px;

}
.unknow-drop-elem img {
margin-right: 13px;
}
.unknow-drop-elem  p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #000000;
}
.unknow-item__active {
  
}

.zayavk {
  padding-bottom: 95px;
}
.zayavk-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
padding: 37px 34px 48px 26px;
}
.zayavk-img img{
   width: 100%;
}
.zayavk-content {
  margin-right: 20px;
}
.zayavk-content h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #37A89A;
  width: 561px;
  margin-bottom: 26px;
}
.line {
  width: 118px;
  height: 2px;
  background: #37A89A;
  margin-bottom: 26px;
}
.zayavk-content-form {
}
.zayavk-content-form p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  width: 453px;
  margin-bottom: 35px;
}
.zayavk-content-form p a {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #000000;

}
.zayavk-forma {
  display: flex;
  flex-direction: column;
}
.zayavk-forma p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 15px;
}
.zayavk-input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #B9B9B9;
  color: #000000;
  padding: 19px 0px 20px 22px;
  border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
width: 584px;
margin-bottom: 12px;
}
.zayavk-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #B9B9B9;

}
.zayavk-send {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
cursor: pointer;
color: #F8F8F8;
background: #37A89A;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 21px 52px 20px 52px;
border: none;
margin-top: 43px;
width: 339px;
}
.zayavk-img {
}

.maps {
  position: relative;
}
.maps-block {
  position: absolute;
  background: #37A89A;
  top: 10px;
  right: 58px;
}
.maps-wrap {
  background: #FFFFFF;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 32px 28px 40px 37px;
  margin-right: 6px;
}
.maps-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}
.maps-adress img {
  margin-right: 17px;
}
.maps-adress-text {
  display: flex;
  flex-direction: column;
}
.maps-adress-text span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.maps-adress-text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 6px;
}
.maps-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;

}
.maps-phone  img {
  margin-right: 17px;
}
.maps-phone-text {
  display: flex;
  flex-direction: column;
}
.maps-phone-text span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.maps-phone-text a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.maps-mail {
  display: flex;
  align-items: flex-start;

}
.maps-mail img {
  margin-right: 17px;
}
.maps-mail-text {
  display: flex;
  flex-direction: column;
}
.maps-mail-text span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;

}
.maps-mail-text a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.maps-rezhim {
  margin-top: 47px;
}
.maps-rezhim span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.maps-rezhim p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}


.navigation {
  background: #F6F4F4;
  padding-top: 31px;
  padding-bottom: 39px;
}
.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-link {
  display: flex;
  flex-direction: column;
}
.navigation-link a {
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  margin-bottom: 16px;
  cursor: pointer;
}
.navigation-link a:last-child {
  margin-bottom: 0;
}
.navigation-text {
}
.navigation-text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.navigation-tel {
}
.navigation-tel  a {
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;

  color: #000000;
}


.popup {
  position: fixed;
  z-index: 10000;
  top: 13%;
  right: 0;
  left: 32%;
  width: 38%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
background: #FFFFFF;
border-radius: 8px;
padding: 58px 0px 48px 0px;
width: 600px;

}
.popup-container img {
  width: 460px;
  margin-bottom: 32px;
}
.popup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.popup-text h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 21px;
}
.popup-text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  
}
.popup-input {
  display: flex;
  flex-direction: column;
  width: 459px;

}
.popup-name {
  border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
margin-bottom: 16px;
padding: 20px 0px 20px 21px;
}
.popup-name::placeholder {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #A0A0A0;

}
.popup-phone {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 24px;
  padding: 20px 0px 20px 21px;

}

.popup-phone::placeholder {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #A0A0A0;
}
.popup-send {
  background: #37A89A;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
cursor: pointer;
color: #E4E4E4;
padding: 20px 0px;
}
.popup-send:hover {
  color: #FFFFFF;
}
.popup-input-check {
  display: flex;
  align-items: center;
  margin-top: 34px;
  justify-content: center;
}
.popup-input-check input {
  cursor: pointer;
}
.popup-input-check p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
margin-left: 10px;
}
.popup-input-check p a {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
outline: none;
text-decoration: none;
}
.popup-input-check p:hover a{
text-decoration: underline;
}

.popup-active {
  /* background: rgba(24, 25, 32, 0.4); */
  overflow: hidden;
  transition: 0.4s;

}
.popup__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s;
}
.rotate__active {
  transform: rotate(90deg);
  transition: 0.4s;
}
.rotate {
  transition: 0.4s;

}