.font {
    font-family: 'Roboto', sans-serif;
}
*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
*:active,*:focus{
  outline:none
}
a {
    outline: none;
    text-decoration: none;
}
body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #FFFFFF
}
.wrap {
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 20px
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range {
  display: flex;
  width: 600px;
}

.range__slider {
  width: 45%;
}

.range__value {
  width: 35%;
  margin-left: 45px;    
  text-align: center;
  border-left: #e6e4e4 1px solid;
}

.form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.form-group label {
  text-transform: uppercase;
  font-size: .7rem;
  color: #222;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.range__slider label {
  margin-bottom: 10px;
}

.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7a00ff;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range__slider [type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid; cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}


.header {
  background: linear-gradient(0deg, #E4E4E4, #E4E4E4), #E3E3E3;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  margin-right: 20px;
}
.header-logo-name {
  margin-right: 20px;
}
.header-logo-name p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  max-width: 182px;
}
.header-logo-adress {
  display: flex;
  align-items: center;
}
.logo-adress-column {
}
.logo-adress-column span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.logo-adress-column p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-right: 34px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.header-nav a:last-child{
  margin-right: 0px;
}
.header-dop {
  display: flex;
  align-items: center;
}
.header-dop-contact {
  display: flex;
  align-items: center;
  margin-right: 41px;
}
.header-dop-contact img {
  margin-right: 17px;
}
.dop-contact-column {
  text-align: right;
}
.dop-contact-column a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  outline: none;
  text-decoration: none;
  margin-bottom: 4px;
}
.dop-contact-column p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}
.header-dop-btn {
}
.header-dop-btn a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;  
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  background: #37A89A;
border-radius: 8px;
padding: 19px 14px 20px 14px;
cursor: pointer;
}


.promo {
  /* position: relative; */
  /* background: linear-gradient(0deg, #E4E4E4, #E4E4E4), #E3E3E3; */
  /* height: 77vh; */
  background-image: url(/images/promo-img.jpg);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
}
/* .promo img {
  position: absolute;
  width: 100%;
  top: 3px;
  height: 100%;

} */
.promo-content {
  padding-top: 165px;
}
.promo-content h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: #000000;
  margin-bottom: 49px;
  max-width: 738px;
}
.promo-content-form {
  width: 642px;
  /* height: 476px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  filter: drop-shadow(-2px 8px 10px rgba(90, 90, 90, 0.25));
  padding: 39px 46px 42px 45px;

}
.promo-content-form h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
  color: #000000;
  max-width: 551px;
  margin-bottom: 25px;
}
.promo-content-form p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  margin-bottom: 25px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text {
  padding: 26px 0px 26px 22px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  width: 481px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 22px;
}
.input-send {
  width: 481px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: #37A89A;
border-radius: 8px;
  color: #FFFFFF;
  padding: 26px 25px;
  cursor: pointer;
}
.form input ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #A0A0A0;
}
.form-check {
  display: flex;
  align-items: center;
  margin-top: 29px;
}
.form-check input {
  margin-right: 12px;
  cursor: pointer;
}
.form-check p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height */
margin-bottom: 0;
text-align: center;

color: #000000;
}
.form-check p a {
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
  
  color: #000000;
}
.form-check p a:hover {
  text-decoration: underline;
}



.key {
  background-image: url(/images/time-img.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.key-comfort {
  padding-top: 109px;
}
.key-comfort h2 {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.key-container {
  margin-top: 36px;
  display: flex;
  align-items: center;
}
.comfort-item {
  background: #37A89A;
  /* width: 468px; */
  margin-right: 23px;
}
.comfort-wrap {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 40px 31px 0px 23px;
  height: 404px;

}
.comfort-item__title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.comfort-item__title img {
  margin-right: 31px;
  width: 84px;
  height: 84px;
}
.comfort-item__title span {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;

color: #000000;
}
.comfort-item__text {
}
.comfort-item__text p {
  max-width: 412px;
}
.key-job {
  margin-top: 109px;
  padding-bottom: 188px;
}
.key-job  h2 {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.job-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.job-item {
  margin-right: 46px;
  margin-top: 40px;
}
.job-item:nth-child(4){
  margin-right: 0;
}

.job-item:nth-child(5){
  margin-top: 67px;
}
.job-item:nth-child(6){
  margin-top: 96px;
}
.job-item:nth-child(7){
  margin-top: 96px;
}
.job-item:nth-child(8){
  margin-right: 0;
  margin-top: 68px;
}


.job-item-text {
  max-width: 273px;
}
.job-item p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
color: #37A89A;
}
.job-item-span {
  background: #37A89A;
  padding: 10px 19px 10px 14px;
  width: 310px;
}
.job-item-span span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;  
  color: #FFFFFF;
}
.key-info {
  background: #37A89A;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 26px 0px;
}
.key-info h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  color: #FFFFFF;
}
.key-info p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}

.consult {
  background: #f5f5f5;
}
.consult-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.consult-info {
  margin-right: 75px;
}
.consult-info h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #37A89A;
  margin-bottom: 20px;
}
.consult-info p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  max-width: 458px;
}
.consult-info p a {
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #000000;

}
.line {
  width: 118px;
  height: 2px;
  background: #37A89A;
  margin-bottom: 38px;
}
.consult-info-btn {
  margin-top: 38px;
}
.consult-info-btn p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #F8F8F8;
  padding: 15px 37px;
  background: #37A89A;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 8px;
width: 246px;
}
.consult-img {
}
.consult-img img {

}

.team {
  padding-top: 78px;
  padding-bottom: 100px;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
}
.team-container {
  display: flex;
  margin-top: 87px;
}
.team-item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.team-item:nth-child(1) span {
  margin-bottom: 88px;
}
.team-item:nth-child(2) span {
  margin-bottom: 86px;
}
.team-item:nth-child(3) span {
  margin-bottom: 60px;
}
.team-item img {
  margin-bottom: 25px;
  width: 326px;
}
.team-item h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
color: #000000;
margin-bottom: 7px;
}
.team-item span {
text-align: center;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #000000;
margin-bottom: 33px;
}
.team-item li {
text-align: left;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
color: #000000;
margin-bottom: 7px;
}

.dolg {
  padding-bottom: 128px;
}
.dolg-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.dolg-content {
  margin-top: 67px;
  display: flex;
  justify-content: center;
}
.dolg-block {
  display: flex;
  flex-direction: column;
}
.dolg-block-one {
  display: flex;
  margin-bottom: 33px;
}
.dolg-block-one-elem1 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-one-elem1 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 162px;
height: 96px;
padding: 23px 33px;
}
.dolg-block-one-elem2 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-one-elem2 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  width: 518px ;
  height: 96px;
  padding-top: 25px;

}
.dolg-block-two {
  display: flex;

}
.dolg-block-two-elem1 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-two-elem1 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  
  color: #37A89A;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 162px;
height: 96px;
padding: 23px 33px;

}
.dolg-block-two-elem2 {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dolg-block-two-elem2 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  background: #FAFAFA;
box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
width: 518px ;
height: 96px;
padding-top: 25px;

}


.primer {
}
.primer-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 49px;

color: #37A89A;
}
.primer-content {
  margin-top: 78px;
  display: flex;
}
.primer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.primer-item a {

}
.primer-item a img {

}

.primer-item-text {
}
.primer-item-text span {

}
.primer-item-text p {
  
}
.primer-item-do {
}
.primer-item-dolg {
}
.primer-item-sud {
}